/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* Custom base styles */
body {
	@apply font-body;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@apply font-heading font-bold;
}

h1,
.h1 {
	@apply text-5xl;
}

h2,
.h2 {
	@apply text-2xl;

	@screen lg {
		@apply text-4xl;
	}
}

h3,
.h3 {
	@apply text-3xl;
}

h4,
.h4 {
	@apply text-2xl;
}

h5,
.h5 {
	@apply text-xl leading-tight;
}

h6,
.h6 {
	@apply text-base;
}

.transform-slide-right {
	transform: translateX(100%);
}

.transform-slide {
	transform: translateX(0%);
}

.transform-scale-up:hover {
	transform: scale(1.05);
}

.transition {
	transition: all 0.3s ease;

	&-quick {
		transition: all 0.2s ease;
	}
}

@tailwind utilities;
