/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* Custom base styles */
body {
	@apply font-body;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@apply font-heading font-bold;
}

h1,
.h1 {
	@apply text-5xl leading-tight;
}

h2,
.h2 {
	@apply text-2xl;

	@screen lg {
		@apply text-4xl;
	}
}

h3,
.h3 {
	@apply text-3xl leading-tight;
}

h4,
.h4,
.blog-post-content h4 {
	@apply text-2xl !important;
}

h5,
.h5 {
	@apply text-xl leading-tight;
}

h6,
.h6 {
	@apply text-base;
}

p,
ol,
ul {
	@apply mb-3;
}

p a {
	@apply text-desire;
}

.transform-slide-right {
	transform: translateX(100%);
}

.transform-slide {
	transform: translateX(0%);
}

.transform-scale-up:hover {
	transform: scale(1.05);
}

.transition {
	transition: all 0.3s ease;

	&-quick {
		transition: all 0.2s ease;
	}
}

.blog-post-content {
	p {
		@apply mb-6;
	}
}

.tooltip {
	@apply bg-knight-black text-white text-center py-1 px-3 -mt-12 rounded-lg absolute z-10;
	width: 130px;

	&::after {
		content: ' ';
		position: absolute;
		top: 100%; /* At the bottom of the tooltip */
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: black transparent transparent transparent;
	}
}

/* Hamburger menu shit */
.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transform: scale(0.7);
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #000;
	stroke-width: 5.5;
	stroke-linecap: round;
	transition: all 0.3s ease;
}

.ham.active .line {
	stroke: #f1faee;
}

.ham6 .top {
	stroke-dasharray: 40 172;
}
.ham6 .middle {
	stroke-dasharray: 40 111;
}
.ham6 .bottom {
	stroke-dasharray: 40 172;
}
.ham6.active .top {
	stroke-dashoffset: -132px;
}
.ham6.active .middle {
	stroke-dashoffset: -71px;
}
.ham6.active .bottom {
	stroke-dashoffset: -132px;
}

/* Gatsby code syntax */
.gatsby-highlight > pre[class*='language-'] {
	@apply mb-6 !important;
}

code[class*='language-'] {
	tab-size: 2 !important;
}

@tailwind utilities;
